body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  display:inline-block;
  margin: 0;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 900px;
  margin-left:50px
  }
.container img {
  top: 0;
  left: 0;
  position: relative;
  width: 900px;
  height:600px;
  margin:0;
  padding:0;
  transition: margin 1s;
}
.tilewrap{
  box-sizing: border-box;
  border: solid white 1px;
  display:inline-block;
  width:180px;
  height:120px;
  overflow: hidden;
  position:relative;
}
.selected{
  border: solid red 5px;
}
.win_message{position:absolute;top:300px;left:300px;background-color:white;}
.small{width:300px;float:right;border:solid 5px black;margin:25px;}
.thumb-container{width:700px;margin: 5px auto;overflow:auto;}
.puzzle-thumb{width:300px;height:200px; box-shadow: 10px;margin:20px;}
.info {display:inline-block;float:right;margin:0;}
.controls{margin:10px auto;}
.spacer{height:50px;}
